kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: psrestapi-canary
spec:
  replicas:
  template:
    metadata:
      name: psrestapi
      labels:
        app: psrestapi
        env: canary
    spec:
      containers:
      - name: psrestapi
        image: devopscampdemo.azurecr.io/psrestapi:latest
        resources:
          limits:
            memory: "300Mi"
            cpu: "100m"
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
        readinessProbe:
          httpGet:
            path: /healthz
            port: 4000
      imagePullSecrets:
      - name: acr-auth
